{% extends 'layout.html.twig' %}

{% block content %}
    
        {% for category in categories %}
        <section class="swiper mySwiper mb-5 mx-5">
            <h2 class ="mb-5">
            {{ category.title }}
            </h2>
            {% for i in 1..4 %}
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="max: width 540px;">
                    <a href><img class="img-fluid" src="https://fakeimg.pl/850x1000/?text=Shameless" alt=""></div>
                </a>
                <div class="swiper-slide">
                    <a href><img class="img-fluid" src="https://fakeimg.pl/850x1000/?text=Shameless" alt=""></div>
                </a>
                <div class="swiper-slide">
                    <a href><img class="img-fluid" src="https://fakeimg.pl/850x1000/?text=Shameless" alt=""></div>
                </a>
                <div class="swiper-slide">
                    <a href><img class="img-fluid" src="https://fakeimg.pl/850x1000/?text=Shameless" alt=""></div>
                </a>
                <div class="swiper-slide">
                    <a href><img class="img-fluid" src="https://fakeimg.pl/850x1000/?text=Shameless" alt=""></div>
                </a>
            </div>
            <div class="swiper-button-next" style="max: width 320px;"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </section>
    {% endfor %}
{% endfor %}
{% endblock %}
